---
http_interactions:
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: api_key=<API_KEY>&api_action=avail.linodeplans&api_responseFormat=json
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ACTION":"avail.linodeplans","DATA":[{"CORES":1,"XFER":1000,"AVAIL":{"11":500,"2":500,"3":500,"4":500,"6":500,"7":500,"8":500,"9":500,"10":500},"PRICE":5.00,"PLANID":1,"LABEL":"Linode
        1024","DISK":20,"RAM":1024,"HOURLY":0.00750},{"CORES":1,"XFER":2000,"AVAIL":{"11":500,"2":500,"3":500,"4":500,"6":500,"7":500,"8":500,"9":500,"10":500},"PRICE":10.00,"PLANID":2,"LABEL":"Linode
        2048","DISK":30,"RAM":2048,"HOURLY":0.01500},{"CORES":2,"XFER":3000,"AVAIL":{"11":500,"2":500,"3":500,"4":500,"6":500,"7":500,"8":500,"9":500,"10":500},"PRICE":20.00,"PLANID":3,"LABEL":"Linode
        4096","DISK":48,"RAM":4096,"HOURLY":0.03000},{"CORES":4,"XFER":4000,"AVAIL":{"11":500,"2":500,"3":500,"4":500,"6":500,"7":500,"8":500,[...]
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: api_key=<API_KEY>&api_action=avail.datacenters&api_responseFormat=json
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ACTION":"avail.datacenters","DATA":[{"LOCATION":"Dallas, TX, USA","DATACENTERID":2,"ABBR":"dallas"},{"LOCATION":"Fremont,
        CA, USA","DATACENTERID":3,"ABBR":"fremont"},{"LOCATION":"Atlanta, GA, USA","DATACENTERID":4,"ABBR":"atlanta"},{"LOCATION":"Newark,
        NJ, USA","DATACENTERID":6,"ABBR":"newark"},{"LOCATION":"London, England, UK","DATACENTERID":7,"ABBR":"london"},{"LOCATION":"Tokyo,
        JP","DATACENTERID":8,"ABBR":"tokyo"},{"LOCATION":"Singapore, SG","DATACENTERID":9,"ABBR":"singapore"},{"LOCATION":"Frankfurt,
        DE","DATACENTERID":10,"ABBR":"frankfurt"},{"LOCATION":"Tokyo 2, JP","DATACENTERID":11,"ABBR":"shinagawa1"}],"ERRORARRAY":[]}'
  recorded_at: Thu, 18 Jan 2018 12:15:24 GMT
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: api_key=<API_KEY>&api_action=avail.distributions&api_responseFormat=json
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ACTION":"avail.distributions","DATA":[{"CREATE_DT":"2016-06-13 16:31:34.0","KERNELID":0,"REQUIRESPVOPSKERNEL":1,"LABEL":"Arch
        2018.01.02","DISTRIBUTIONID":148,"MINIMAGESIZE":1500,"IS64BIT":1},{"CREATE_DT":"2014-07-08
        10:07:21.0","KERNELID":0,"REQUIRESPVOPSKERNEL":1,"LABEL":"CentOS 7","DISTRIBUTIONID":129,"MINIMAGESIZE":1500,"IS64BIT":1},{"CREATE_DT":"2017-06-06
        16:44:00.0","KERNELID":213,"REQUIRESPVOPSKERNEL":1,"LABEL":"CoreOS Container
        Linux","DISTRIBUTIONID":157,"MINIMAGESIZE":5000,"IS64BIT":1},{"CREATE_DT":"2015-04-27
        16:26:41.0","KERNELID":0,"REQUIRESPVOPSKERNEL":1,"LABEL":"Debian 8","DISTRIBUTIONID":140,"MINIMAGESIZE":1024,"IS64BIT":1},{"CREATE[...]
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: api_key=<API_KEY>&api_action=avail.kernels&api_responseFormat=json
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ACTION":"avail.kernels","DATA":[{"ISKVM":1,"KERNELID":137,"LABEL":"Latest
        32 bit (4.14.12-x86-linode111)","ISPVOPS":1,"ISXEN":1},{"ISKVM":1,"KERNELID":272,"LABEL":"4.14.11-x86-linode110","ISPVOPS":1,"ISXEN":1},{"ISKVM":1,"KERNELID":274,"LABEL":"4.14.12-x86-linode111","ISPVOPS":1,"ISXEN":1},{"ISKVM":1,"KERNELID":138,"LABEL":"Latest
        64 bit (4.14.12-x86_64-linode92)","ISPVOPS":1,"ISXEN":1},{"ISKVM":1,"KERNELID":271,"LABEL":"4.14.11-x86_64-linode91","ISPVOPS":1,"ISXEN":1},{"ISKVM":1,"KERNELID":273,"LABEL":"4.14.12-x86_64-linode92","ISPVOPS":1,"ISXEN":1},{"ISKVM":0,"KERNELID":92,"LABEL":"pv-grub-x86_32","ISPVOPS":0,[...]
